@import url('css/styles.base.css');
@import url('css/styles.nav.css');
@import url('css/styles.sections.css');
@import url('css/styles.slider.css');
@import url('css/styles.modals.css');

.arrow-gap{
    margin-left: 10px;
}